@inject NavigationManager Navigation
@inherits LayoutComponentBase

@if (!Navigation.Uri.Contains("/Login"))
{
    <NavMenu />
}
<CascadingAuthenticationState>

    <div class="container mt-4">
        @Body
    </div>
</CascadingAuthenticationState>

