@inject NavigationManager Navigation
@inherits LayoutComponentBase

<NavMenu />

<CascadingAuthenticationState>

    <div class="container mt-4">
        @Body
    </div>
</CascadingAuthenticationState>
