@page "/Dashboard"
@rendermode InteractiveServer
@inject MedicalBookingService.Shared.Services.AuthService AuthService
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Dashboard</h3>
@if (!AuthService.IsInitialized)
{
    <p>Pulling your information</p>
}
else if (AuthService.IsAuthenticated)
{
    <p>User is authenticated.</p>
    @if (AuthService.UserRoles.Contains("Admin"))
    {
        <p>Welcome Admin! You can manage appointments.</p>
    }
    else if (AuthService.UserRoles.Contains("Doctor") && AuthService.CurrentUser?.DoctorProfile != null)
    {
        if (AuthService.CurrentUser.DoctorProfile.OfficeId == 1)
        {
            <p>Welcome Primary Care Doctor! You can view your schedule.</p>
        }
        else
        {
            <p>Welcome Doctor! You can view your schedule.</p>
        }
        
    }
    else if (AuthService.UserRoles.Contains("Patient"))
    {
        <p>Welcome Patient! You can request an appointment.</p>
    }
    else
    {
        <p>Unknown role.</p>
    }
}
else
{
    <p>User is NOT authenticated.</p>
}

@code {
    protected override void OnInitialized()
    {
        AuthService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthService.OnChange -= StateHasChanged;
    }
}
