@page "/dashboard"
@using MedicalBookingService.Client.Services
@using MedicalBookingService.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthClientService AuthClientService

<h3>Dashboard</h3>
@if (!IsAuthenticated)
{
    <p>Pulling your information</p>
}
else if (IsAuthenticated)
{
    <p>User is authenticated.</p>
    @if (UserRoles.Contains("Admin"))
    {
        <p>Welcome Admin! You can manage appointments.</p>
    }
    else if (UserRoles.Contains("Doctor"))
    {
        <p>Welcome Doctor! You can view your schedule.</p>
    }
    else if (UserRoles.Contains("Patient"))
    {
        <p>Welcome Patient! You can request an appointment.</p>
    }
    else
    {
        <p>Unknown role.</p>
    }
}
else
{
    <p>User is NOT authenticated.</p>
}

@code {

    private UserInfo? CurrentUser;
    private bool IsAuthenticated = false;
    private List<string> UserRoles = new();

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await AuthClientService.GetCurrentUserAsync();

        if (CurrentUser != null)
        {
            IsAuthenticated = true;
            UserRoles = CurrentUser.Roles;
        }
    }
}
